/*
Project Name: Ecard.ly
Client: General Assembly
Author: Willy Butt van Gelderen | @wbvg
Developer @GA in SYD 2013
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

body {

     background: url(../images/background.jpg) repeat-x;
     background-color: #d6d6d6;
     color: #000;

}

a {
     color: #cc6633;
     text-decoration: none;
}

p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     line-height: 17px;
     font-weight: normal;
}

nav {
     margin: 10px auto;
     text-align: center;
}


#container {
     width:940px;
     margin: auto;
}

#left{
     width:640px;
     margin: auto;
     padding: 30px 20px;
     text-align: left;
     background-color: #fff;
     float: left;
}

#right{
     width:280px;
     margin: auto;
     background-color: #fff;
     float:right;
     padding: 30px 20px 30px 20px;
     text-align: left;
     color: #000;
}

#left > section{
     margin-bottom: 50px;
}

download a {
     color: #cc6633;
     font-weight: bold;
     font-size: 13px;
}

#archive li {
     list-style-type: none;
     font-weight: bold;
     line-height: 21px;
     font-size: 11px;
     }


 ol {
     margin: 0;
     padding:0;
}

ol a {
     color: #000;
          }

ol li {
     font-size: 12px;
     line-height: 19px;
     }



#blogroll li {
     list-style-type: none;
     font-weight: bold;
     line-height: 21px;
     font-size: 11px;
     }

ul {
     margin: 0;
     padding:0;
}



div.author {
     border-top: 1px dotted #000;
     border-bottom: 1px solid #000;
}

#icons{
     clear: both;
     padding: 20px 0 20px 0;
     text-align: center;
}

ul li {
     list-style: none;
     display: inline-block;

}
ul li a:hover {
     opacity: 0.5;
}

a img:hover {
     opacity: 0.5;
}

a img {
     padding-top: 15px;
}


section {
     margin: 10px 0 10px 0;
}


h1 {
     text-align: center;
     margin: 20px;
     font-size: 16px;

}

h2 {
     text-align: left;
     font-size: 20px;

}








